/* body{
  font-size: 20px;
  background-color: hsla(0, 0, 44, .2);
  z-index: -500;
} */

.jumbotron-fluid{
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  z-index: -20;
};

/* .nav{
  border-bottom: 2px black solid;
} */

/* .header-inner{
  background-color: black;
  opacity: .1;
  z-index: -5;
} */


/* .alternate-font{
  font-family: 'Patua One', serif !important;
  text-transform: uppercase;
  font-size: 200%;
}; */

/* .card-text{
  font-size: 20px;
}; */
